
*.ipch
.vs/neurnet/v16/Browse.VC.db
x64/Debug/neurnet.tlog/CL.command.1.tlog
x64/Debug/neurnet.tlog/CL.read.1.tlog
x64/Debug/neurnet.tlog/CL.write.1.tlog
x64/Debug/neurnet.tlog/link.command.1.tlog
x64/Debug/neurnet.tlog/link.read.1.tlog
x64/Debug/neurnet.tlog/link.write.1.tlog
x64/Debug/neurnet.tlog/neurnet.write.1u.tlog
*.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
