
*.ipch
.vs/neurnet/v16/Browse.VC.db
x64/Debug/neurnet.tlog/CL.command.1.tlog
x64/Debug/neurnet.tlog/CL.read.1.tlog
x64/Debug/neurnet.tlog/CL.write.1.tlog
x64/Debug/neurnet.tlog/link.command.1.tlog
x64/Debug/neurnet.tlog/link.read.1.tlog
x64/Debug/neurnet.tlog/link.write.1.tlog
x64/Debug/neurnet.tlog/neurnet.write.1u.tlog
*.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
.vs/neurnet/v16/Browse.VC.db
.vs/neurnet/v16/.suo
.vs/neurnet/v16/ipch/AutoPCH/7debf1661490f2c7/NEURNET.ipch
.vs/neurnet/v16/Browse.VC.db-shm
.vs/neurnet/v16/Browse.VC.db-wal
.vs/neurnet/v16/Browse.VC.opendb
.vs/neurnet/v16/.suo
.vs/neurnet/v16/Browse.VC.db
.vs/neurnet/v16/.suo
.vs/neurnet/v16/Browse.VC.db
.vs/neurnet/v16/.suo
x64/Debug/neurnet.exe
x64/Debug/neurnet.ilk
x64/Debug/neurnet.log
x64/Debug/neurnet.obj.enc
x64/Debug/neurnet.pdb
x64/Debug/neurnet.tlog/link.read.1.tlog
x64/Debug/neurnet.tlog/CL.command.1.tlog
*.tlog
*@api_token=*.*
dwn.bat
eodapikey.txt

